<h1><%= @event.name %></h1>

<p>
  <% if current_user == @event.creator %>
    <%= form_for @invitation, url: invitations_path do |f| %>
      <%= f.label :user_name %>
      <%= f.text_field :user_name %>

      <%= hidden_field_tag "event_id", "#{@event.id}" %>
      <%= f.submit 'Invite this user', class: "btn btn-primary" %>
    <% end %>
  <% end %>
</p>

<h3>Event description</h3> 
<p><%= @event.description %></p>

<h3>Event Location</h3>
<p><%= @event.location %></p>

<h3>Event Date/Time</h3>
<p><%= @event.time %></p>

<p>
  This Event was created <%= time_ago_in_words(@event.created_at) %> ago by <%= @event.creator.name %>
</p>

<p>
  <%= form_for @attendanceship, url: attendanceships_path  do |f| %>
    <%= hidden_field_tag "event_id", "#{@event.id}" %>
    <%= f.submit 'Attend This Event', class: "btn btn-primary" %>
  <% end %>
</p>


    

<p>
Attendees: 
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= link_to "#{attendee.name}", user_path(attendee) %></li>
  <% end %>
</ul>
</p>


